.App {
  font-family: "Cinzel", serif;
  text-align: center;
  background-color: #f0f5f5; /* Fondo claro */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.fila-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.fila-secundaria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}
